{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

        <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">Latest</h1>
        </section>

        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content gh-feed">
<<<<<<< HEAD
                {{#match pagination.page 2}}
                    {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
                        {{#foreach recent}}
                            {{> "loop-grid"}}
                        {{/foreach}}
                    {{/get}}
                {{/match}}
=======
>>>>>>> 9f3c060 (Local working copy)
                {{#foreach posts}}
                    {{> "loop-grid" has_large_post=false}}
                {{/foreach}}
            </div>
        </div>

<<<<<<< HEAD
=======
        {{> "pagination"}}

>>>>>>> 9f3c060 (Local working copy)
    </div>
</main>